<p>By clicking <%= name %> you agree to
  our <%= link_to 'Terms of Service', {:controller => '/pages', :action => :index, :page => 'terms'} %>
  and <%= link_to 'Privacy Policy', {:controller => '/pages', :action => :index, :page => 'privacy'} %>
</p>