<div class="page-header">
	<h1>Contacts</h1>
</div>
<ul>
	<li>Email: <a href="mailto:info@cryptohorde.io">info@cryptohorde.io</a></li>
	<li>Address: 3, 1st Ln, Beach blvd., Egmont isl., BIOT</li>
</ul>