<p>Привет, <%= @resource.email %>!</p>

<p>Кто-то отправил запрос на смену пароля. Вы можете сделать это, пройдя по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @token, :locale=> 'ru') %></p>

<p>Если вы неделали этого, то проигноируйте это письмо.</p>
<p>Ваш пароль не будет изменен до тех пор, пока вы не пройдете по ссылке выше и не измените его самостоятельно.</p>
