<p>Привет, <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблоирован из-за большого числа неудачных попыток входа.</p>

<p>Пройдите по ссылке ниже, чтобы разблокировать его:</p>

<p><%= link_to 'Разблокировать аккаунт', unlock_url(@resource, :unlock_token => @token, :locale => 'ru') %></p>
